<div class="package-group-container">
    <div class="row">
        <div class="col-12">
            <div class="package-group-header">
                <h4>{{ packageGroup.name }}</h4>
                <h5>{{ packageGroup.description }}</h5>
            </div>
        </div>
    </div>
    <div class="row package-item-list">
        <div class="col-md-3 col-sm-6 package-item" *ngFor="let packageItem of packageGroup.packages" (click)="onSetCurrentPackage($event, packageItem.id)">
            <app-package-item [packageItem]="packageItem"></app-package-item>
        </div>
    </div>
</div>