package-group-container {
  border-top: solid thin #cecece;
}

.package-group-header {
  border-bottom: solid thin #cecece;
  padding: 10px 15px;
}

.package-group-header h5 {
  color: #666;
  font-size: 15px;
}

.package-group-body {
  border: solid thin #cecece;
}

.package-item-list {
  padding-right: 15px;
  padding-left: 15px;
}

.package-item {
  padding: 0;
  border-bottom: solid thin #cecece;
  border-right: solid thin #cecece;
  height: 260px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.package-item:hover {
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -o-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
}

@media (max-width: 500px) {
  .package-item {
    border: solid thin #cecece;
    height: 300px;
    width: 100%;
  }
}
