.package-item-container {
    padding: 5px;
}

.package-item-image {
    background-color: #eeeeee;
    height: 200px;
}

.package-item-text {
    margin-top: 8px;
}

@media (max-width: 500px) {
    .package-item-image {
        height: 250px;
    }
}