<div class="row" *ngIf="(metadata$ | async).metadataDetails">
  <div class="{{currentMetadata == null ? 'col-md-12' : 'col-md-5'}}">
      <div class="form-group pull-right">
        <input class="form-control" [(ngModel)]="filterQuery" placeholder="Search by name"/>
      </div>
    <table class="table table-striped" [mfData]="(metadata$ | async)?.metadataDetails[metadataType] | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="5">
      <thead>
        <tr>
          <th *ngIf="currentMetadata == null" width="5%">#</th>
          <th width="95%">
            <mfDefaultSorter by="name">Name</mfDefaultSorter>
          </th>
          <th *ngIf="currentMetadata == null"></th>
        </tr>
      </thead>
      <tbody>
        <tr (click)="viewMetadataDetails(item)" class="{{currentMetadata != null && currentMetadata.id == item.id ? 'text-primary' : ''}}" style="cursor: pointer;" *ngFor="let item of mf.data; let i=index">
          <td *ngIf="currentMetadata == null" width="5%">{{i + 1}}</td>
          <td width="80%">{{item.name}}</td>
          <td *ngIf="currentMetadata == null">
            <button class="btn btn-default btn-sm"><i class="fa fa-eye"></i></button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
  <div class="col-md-7" *ngIf="currentMetadata != null">
    <button class="btn btn-default btn-sm metadata-close-btn" (click)="currentMetadata = null">Close</button>
    <h4 class="page-header" style="margin-top: 2px;">{{currentMetadata.name}}</h4>
    <app-indicators *ngIf="metadataType == 'indicators'" [indicators]="currentMetadata"></app-indicators>
    <app-indicator-type *ngIf="metadataType == 'indicatorTypes'" [indicatorType]="currentMetadata"></app-indicator-type>
    <app-data-element *ngIf="metadataType == 'dataElements'" [dataElement]="currentMetadata"></app-data-element>
    <app-org-unit *ngIf="metadataType == 'organisationUnits'" [orgUnit]="currentMetadata"></app-org-unit>
  </div>
</div>
