.metadata-package-details {
    position: fixed;
    top: 6vh;
    bottom: 4vh;
    left: 0;
    right: 0;
    width: 65%;
    z-index: 1500;
    height: 90vh;
    margin: auto;
    background-color: #ffffff;
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.3);
}

@media (max-width: 700px) {
    .metadata-package-details {
        width: 92%;
    }
}

@media (max-width: 1000px) {
    .metadata-package-details {
        width: 88%;
    }
}

.metadata-package-details-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #ffffff;
}

.metadata-package-details-close {
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    padding: 5px 10px;
}

.metadata-package-details-close img {
    height: 25px;
}

.metadata-package-actions {
    margin-top: 10px;
    padding: 10px;
    display: flex;
}

.import-btn {
    margin-right: 5px;
}

.metadata-package-details-title {
    display: flex;
    padding: 15px;
}

.title-image {
    height: 70px;
    width: 90px;
    background-color: #eeeeee;
    margin-right: 5px;
}

.title {
    font-size: 30px;
    line-height: 30px;
}

.tag-block {
    display: flex;
    margin-top: 5px;
}

.tag-block a {
    color: #666;
    text-decoration: none;
    font-size: 15px;
}

.tag-block a:hover {
    color: #333;
}

.tag-block img {
    display: block;
    margin-top: 3px;
    margin-right: 5px;
    /*margin: auto;*/
    height: 19px;
}

.metadata-package-details-body {
    padding: 10px;
    height: calc(90vh - 100px);
    overflow: auto;
}

.metadata-package-description {
    text-align: justify;
}