<div class="metadata-package-details">
  <!--full screen header-->
  <div class="metadata-package-details-header">
    <div class="metadata-package-details-title">
      <div class="title-image">
        <img [src]="(currentMetadataPackage$ | async)?.icons[0][48]" alt="" class="img-fluid">
      </div>
      <div class="title-content">
        <div class="title">{{(currentMetadataPackage$ | async)?.name}}</div>
        <div class="tag-block">
          <img src="assets/icons/tag.png" alt="" title="metadata package tags">
          <div>
            <a *ngFor="let metadataTag of (currentMetadataPackage$ | async)?.tags">
              <span class="tag-item">{{metadataTag}}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="metadata-package-details-close">
        <a (click)="closeMetadataPackageItem($event)">
          <img src="assets/icons/close.png" alt="Close">
        </a>
      </div>
      <div class="metadata-package-actions">
        <button
          class="btn btn-sm btn-success import-btn"
          (click)="toggleImportSummary($event)"
          title="This package was imported, click to view import summary"
          *ngIf="(currentMetadataPackage$ | async)?.imported &&
                (currentMetadataPackage$ | async)?.importedVersion === currentMetadataPackageVersion">
          Imported
        </button>
        <button
          class="btn btn-outline-warning btn-sm import-btn"
          *ngIf="(currentMetadataPackage$ | async)?.importError"
          [disabled]="true"
        >
          <span class="importing-block">
            Import failed, (Code: {{(currentMetadataPackage$ | async)?.importError.status}}):
            {{(currentMetadataPackage$ | async)?.importError.message}}
          </span>
        </button>
        <button
          class="btn btn-outline-secondary btn-sm import-btn"
          (click)="importMetadata($event)"
          [disabled]="(currentMetadataPackage$ | async)?.importing"
        >
          <span class="importing-block" *ngIf="(currentMetadataPackage$ | async)?.importing">
            <img src="assets/icons/balls-5.svg" alt="">Importing metadata...
          </span>
          <span class="import-block" *ngIf="!(currentMetadataPackage$ | async)?.importing &&
          !(currentMetadataPackage$ | async)?.importError">
            {{((currentMetadataPackage$ | async)?.imported) ? 'Import anyway' : 'Import'}}
          </span>
          <span *ngIf="(currentMetadataPackage$ | async)?.importError">
            Try again
          </span>
        </button>
        <select
          *ngIf="!(currentMetadataPackage$ | async)?.importing"
          [(ngModel)]="currentMetadataPackageVersion"
          (ngModelChange)="setCurrentVersion()"
          class="form-control form-control-sm">
          <option
            *ngFor="let metadataPackageVersion of (currentMetadataPackage$ | async)?.versions"
            [value]="metadataPackageVersion.version">
            Version {{metadataPackageVersion.version}}
          </option>
        </select>
      </div>
    </div>
  </div>
  <!-- end of full screen header-->

  <!-- metadata package detail body -->
  <div class="metadata-package-details-body">
    <!-- metadata package description -->
    <div class="metadata-package-description">
      {{(currentMetadataPackage$ | async)?.description}}
    </div>
    <!-- end of metadata package description -->

    <!-- metadata list -->
    <div class="metadata-list" *ngIf="metadataPackageLoaded$ | async">
      <app-metadata
        [id]="(currentMetadataPackage$ | async)?.id"
        [currentVersion]="currentMetadataPackageVersion"
        [versions]="(currentMetadataPackage$ | async)?.versions"
      ></app-metadata>
    </div>
    <!-- end of metadata list -->
  </div>
  <!-- end metadata package detail body -->
</div>
