<div class="metadata-package-details">
    <!--full screen header-->
    <div class="metadata-package-details-header">
        <div class="metadata-package-details-title">
            <div class="title-image">

            </div>
            <div class="title-content">
                <div class="title">{{(currentMetadataPackage$ | async)?.name}}</div>
                <div class="tag-block">
                    <img src="assets/icons/tag.png" alt="">
                    <div>
                        <a href="">tags</a>
                        <span>, </span>
                        <a href="">tags</a>
                        <span>, </span>
                        <a href="">tags</a>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="metadata-package-details-close">
                <a (click)="closeMetadataPackageItem($event)">
                    <img src="assets/icons/close.png" alt="Close">
                </a>
            </div>
            <div class="metadata-package-actions">
                <button class="btn btn-outline-secondary btn-sm import-btn">Preview and import</button>
                <select [(ngModel)]="currentMetadataPackageVersion" (ngModelChange)="setCurrentVersion()" class="form-control form-control-sm">
              <option *ngFor="let metadataPackageVersion of (currentMetadataPackage$ | async)?.versions" [value]="metadataPackageVersion.version">Version {{metadataPackageVersion.version}}</option>
            </select>
            </div>
        </div>
    </div>
    <!-- end of full screen header-->

    <!-- metadata package detail body -->
    <div class="metadata-package-details-body">
        <!-- metadata package description -->
        <div class="metadata-package-description">
            {{(currentMetadataPackage$ | async)?.description}}
        </div>
        <!-- end of metadata package description -->

        <!-- matadata list -->
        <div class="metadata-list">
            <app-metadata-list></app-metadata-list>
        </div>
        <!-- end of metadata list -->
    </div>
    <!-- end metadata package detail body -->
</div>