<div class="metadata-package-details">
  <!--full screen header-->
  <div class="metadata-package-details-header">
    <div class="metadata-package-details-title">
      <div class="title-image">
        <img [src]="(currentMetadataPackage$ | async)?.icons[0][48]" alt="" class="img-fluid">
      </div>
      <div class="title-content">
        <div class="title">{{(currentMetadataPackage$ | async)?.name}}</div>
        <div class="tag-block">
          <img src="assets/icons/tag.png" alt="" title="metadata package tags">
          <div>
            <a *ngFor="let metadataTag of (currentMetadataPackage$ | async)?.tags">
              <span class="tag-item">{{metadataTag}}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="metadata-package-details-close">
        <a (click)="closeMetadataPackageItem($event)" class="btn btn-sm btn-outline-secondary">
          <img src="assets/icons/back.png" alt="Close"> Back
        </a>
      </div>
      <div class="metadata-package-actions">
        <button
          class="btn btn-outline-success btn-sm import-btn"
          (click)="toggleImportSummary($event)"
          *ngIf="(((currentMetadataPackage$ | async)?.imported || (currentMetadataPackage$ | async)?.previewed) && !(currentMetadataPackage$ | async)?.hasConflictOnImport)"
          title="{{ (currentMetadataPackage$ | async)?.previewed ? 'Metadata preview' : 'Metadata import'}} was successfully, click view summary button to view more details">
          <span class="importing-block">
            <img src="assets/icons/circle-tick.png" alt="">
            {{ (currentMetadataPackage$ | async)?.previewed ? 'Preview' : 'Import'}} Success
          </span>
        </button>
        <button
          class="btn btn-outline-danger btn-sm import-btn"
          (click)="toggleImportSummary($event)"
          *ngIf="((currentMetadataPackage$ | async)?.imported || (currentMetadataPackage$ | async)?.previewed) && (currentMetadataPackage$ | async)?.hasConflictOnImport"
          title="There are conflicts during {{(currentMetadataPackage$ | async)?.previewed ? 'metadata preview': 'metadata import'}}, click view summary button to view more details">
          <span class="importing-block">
            <img src="assets/icons/error.png" alt="">
            {{(currentMetadataPackage$ | async)?.previewed ? 'Preview': 'Import'}} failed
          </span>
        </button>

        <!-- <button class="btn btn-sm btn-info import-btn" (click)="toggleImportSummary($event)" title="This package was imported, click to view import summary"
          *ngIf="(currentMetadataPackage$ | async)?.imported &&
                (currentMetadataPackage$ | async)?.importedVersion == currentMetadataPackageVersion">
          View summary
        </button> -->
        <button class="btn btn-outline-danger btn-sm import-btn" *ngIf="(currentMetadataPackage$ | async)?.importError" [disabled]="true">
          <span class="importing-block">
            Import failed, (Code: {{(currentMetadataPackage$ | async)?.importError.status}}): {{(currentMetadataPackage$ | async)?.importError.message}}
          </span>
        </button>

        <!--preview import-->
        <button
          class="btn btn-sm btn-outline-secondary import-btn"
          (click)="importMetadata($event, true)"
          title="Preview Metadata: This will only test importing of metadata in order to get a snapshot of how the import will result. Metadata will not be imported after this operation"
          [disabled]="(currentMetadataPackage$ | async)?.importing  || (currentMetadataPackage$ | async)?.previewing"
        >
          <span class="importing-block" *ngIf="(currentMetadataPackage$ | async)?.previewing">
            <img src="assets/icons/balls-5.svg" alt="">Previewing metadata import...
          </span>
          <span class="import-block" *ngIf="!(currentMetadataPackage$ | async)?.previewing &&
          !(currentMetadataPackage$ | async)?.importError">
            <img src="assets/icons/eye.png" alt="">&nbsp;Preview
          </span>
          <span *ngIf="(currentMetadataPackage$ | async)?.importError">
            Try again
          </span>
        </button>
        <!--end of preview import-->

        <!--import metadata btn-->
        <button
          class="btn btn-sm btn-outline-secondary import-btn"
          title="Import Metadata: This will add or update metadata in the system"
          (click)="importMetadata($event)"
          [disabled]="(currentMetadataPackage$ | async)?.importing || (currentMetadataPackage$ | async)?.previewing">
          <span class="importing-block" *ngIf="(currentMetadataPackage$ | async)?.importing && !(currentMetadataPackage$ | async)?.isPreview">
            <img src="assets/icons/balls-5.svg" alt="">Importing metadata...
          </span>
          <span class="import-block" *ngIf="!(currentMetadataPackage$ | async)?.importing &&
          !(currentMetadataPackage$ | async)?.importError">
            <img src="assets/icons/download.png" alt="">&nbsp;Import
          </span>
          <span *ngIf="(currentMetadataPackage$ | async)?.importError">
            Try again
          </span>
        </button>
        <select
          *ngIf="!(currentMetadataPackage$ | async)?.importing"
          [(ngModel)]="currentMetadataPackageVersion"
          (ngModelChange)="setCurrentVersion()"
          class="form-control btn-outline-secondary"
          title="Select metadata package version for import"
        >
          <option *ngFor="let metadataPackageVersion of (currentMetadataPackage$ | async)?.versions" [value]="metadataPackageVersion.version">
            V{{metadataPackageVersion.version}}
          </option>
        </select>
      </div>
    </div>
  </div>
  <!-- end of full screen header-->

  <!-- metadata package detail body -->
  <div class="metadata-package-details-body">
    <!-- metadata package description -->
    <div class="metadata-package-description">
      {{(currentMetadataPackage$ | async)?.description}}
    </div>
    <!-- end of metadata package description -->

    <!-- metadata list -->
    <div class="metadata-list" *ngIf="metadataPackageLoaded$ | async">
      <app-metadata [id]="(currentMetadataPackage$ | async)?.id" [currentVersion]="currentMetadataPackageVersion" [versions]="(currentMetadataPackage$ | async)?.versions"></app-metadata>
    </div>
    <!-- end of metadata list -->
  </div>
  <!-- end metadata package detail body -->
</div>
