<div class="row">
    <div class="col-sm-10 col-sm-offset-2" style="margin-top: 10px;">
        <button class="btn btn-primary btn-sm" ng-click="closeMetadataDetails()">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            back
        </button>
        <h3>Metadata detailed info</h3>

        <div class="panel panel-default">
            <div class="panel-body" style="padding-left: 50px;">
                <ol>
                    <li ng-repeat="details in metadataDetails">{{details.name}}</li>
                </ol>
            </div>
        </div>

    </div>
</div>
