<div class="row" *ngIf="dataElement != null">
  <div class="col-md-12">
    <p class="text-justify">{{dataElement.originalVersion.name}} is a data element of data aggregation <strong style="text-transform: lowercase;">{{dataElement.originalVersion.aggregationType}}</strong> and only taking <strong style="text-transform: lowercase;">{{dataElement.originalVersion.domainType}}</strong> data. As the culture of helping user not entering unrecognized data, this data element takes <strong style="text-transform: lowercase;">{{dataElement.originalVersion.valueType}}</strong> values from the user input</p>
  </div>
</div>
