.metadata-item-container {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid thin #ddd;
}

.metadata-item {
    text-align: center;
}

.metadata-item img {
    height: 60px;
    margin-bottom: 10px;
}

.metadata-item-name {
    /* text-transform: capitalize; */
}