<section id="home-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <h4 class="text-primary" style="margin-top: 5px; margin-bottom: 4px; margin-left: 10px;">
          <img src="assets/img/icon-48x48.png" style="height: 30px; width: 30px;" alt="">
          <b>Metabase</b>
        </h4>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <input type="text" [(ngModel)]="searchText" (keyup)="search(searchText)" class="form-control" placeholder="Search for packages and apps">
        </div>
      </div>
      <div class="col-md-4" style="position: relative;">
        <div class="btn-group pull-right">
          <a class="btn btn-primary"><i class="fa fa-cog"></i></a>
          <a (click)="showRepositorySection = !showRepositorySection" class="btn btn-primary"><i class="fa {{showRepositorySection ? 'fa-caret-up' : 'fa-caret-down'}}"></i></a>
        </div>
        <app-repositories-section
          *ngIf="showRepositorySection"
          (onClose)="showRepositorySection = !$event"
        >
        </app-repositories-section>
      </div>
    </div>
  </div>
</section>
<div class="container-fluid">
  <div class="row" style="margin-top: 70px;">
    <div class="col-md-12 text-center" *ngIf="(metadataPackages$ | async).length == 0">
      <h2><b>Welcome to Metabase</b></h2>
      <h3>View, preview and import different metadata packages from repository links of your choice</h3>
      <h4><b>Add a link to your packages now</b></h4>
    </div>
    <div class="col-md-12" *ngFor="let metadataPackage of metadataPackages$ | async">
      <app-package-item [metadataPackage]="metadataPackage"></app-package-item>
    </div>
  </div>
</div>
