<div class="panel panel-primary repository-section" [ngStyle]="{width: sectionWidth}">
  <div class="panel-heading">
    Repositories
    <a class="pull-right" (click)="close()" style="color: #fff !important; cursor: pointer;">&times;</a>
  </div>
  <div class="panel-body">
    <table class="table table-hover table-condensed" style="margin-bottom: 0px;">
      <tbody>
      <tr *ngFor="let repository of repositories$ | async">
        <td width="5%" style="padding-top: 10px;" *ngIf="repositoryToEdit.id !== repository.id">
          <input type="checkbox" [(ngModel)]="repository.selected" [ngModelOptions]="{standalone: true}" (change)="toggleRepositorySelection(repository)">
        </td>
        <td width="80%" style="padding-top: 10px;" *ngIf="repositoryToEdit.id !== repository.id">
          <small>{{repository.name}}</small>
        </td>
        <td width="40%" *ngIf="repositoryToEdit.id === repository.id">
          <div class="form-group {{name.errors && (name.dirty || name.touched) ? 'has-error' : 'has-success'}}" style="margin-bottom: 0px;">
            <input type="text" class="form-control input-sm"
                   [(ngModel)]="repositoryToEdit.name"
                   name="name"
                   #name="ngModel"
                   required
            >
            <span class="help-block" *ngIf="name.errors && (name.dirty || name.touched)" style="margin-bottom: 0px;">
              <small [hidden]="!name.errors.required">Name is required</small>
            </span>
          </div>
        </td>
        <td width="40%" *ngIf="repositoryToEdit.id === repository.id">
          <div class="form-group {{url.errors && (url.dirty || url.touched) ? 'has-error' : 'has-success'}}" style="margin-bottom: 0px;">
            <input type="text" class="form-control input-sm"
                   [(ngModel)]="repositoryToEdit.url"
                   name="url"
                   #url="ngModel"
                   required
                   pattern="https?://.+"
            >
            <span class="help-block" *ngIf="url.errors && (url.dirty || url.touched)" style="margin-bottom: 0px;">
              <small [hidden]="!url.errors.required">URL is required</small>
              <small [hidden]="!url.errors.pattern">Must be a valid URL!</small>
            </span>
          </div>
        </td>
        <td width="5%" *ngIf="repositoryToEdit.id === repository.id">
          <button type="submit" (click)="updateRepository(repositoryToEdit)" class="btn btn-sm btn-primary"
                  [disabled]="repositoryToEdit.name === '' || repositoryToEdit.url === ''"
          ><i class="fa fa-check"></i></button>
        </td>
        <td width="5%">
          <a (click)="toggleEditForm(repository)" class="btn btn-sm">
            <i class="fa {{repositoryToEdit.id === repository.id ? 'fa-times' : 'fa-edit'}}"></i>
          </a>
        </td>
        <td width="5%" *ngIf="repositoryToEdit.id !== repository.id">
          <a (click)="removeRepository(repository)" class="btn btn-sm pull-right text-danger"><i class="fa fa-trash"></i></a>
        </td>
      </tr>
      </tbody>
    </table>
    <form class="table table-condensed" #repositoryForm="ngForm">
      <tr>
        <td width="40%" *ngIf="showForm">
          <div class="form-group {{name.errors && (name.dirty || name.touched) ? 'has-error' : 'has-success'}}" style="margin-bottom: 0px;">
            <input
              type="text"
              class="form-control input-sm"
              placeholder="Enter name"
              [(ngModel)]="newRepository.name"
              name="name"
              #name="ngModel"
              required
            >
            <span class="help-block" *ngIf="name.errors && (name.dirty || name.touched)" style="margin-bottom: 0px;">
              <small [hidden]="!name.errors.required">Name is required</small>
            </span>
          </div>
        </td>
        <td width="50%" *ngIf="showForm">
          <div class="form-group {{url.errors && (url.dirty || url.touched) ? 'has-error' : 'has-success'}}" style="margin-bottom: 0px;">
            <input
              type="url"
              class="form-control input-sm"
              placeholder="Enter url"
              name="url"
              [(ngModel)]="newRepository.url"
              #url="ngModel"
              required
              pattern="https?://.+"
            >
            <span class="help-block" *ngIf="url.errors && (url.dirty || url.touched)" style="margin-bottom: 0px;">
              <small [hidden]="!url.errors.required">URL is required</small>
              <small [hidden]="!url.errors.pattern">Must be a valid URL!</small>
            </span>
          </div>
        </td>
        <td width="5%" *ngIf="showForm">
          <button type="submit" class="btn btn-sm btn-primary" [disabled]="!repositoryForm.form.valid || !repositoryForm.form.touched" (click)="saveRepository(newRepository)"><i class="fa fa-plus"></i></button>
        </td>
        <td width="5%">
          <a (click)="toggleForm()" style="cursor: pointer;" class="btn btn-sm text-muted"><i class="fa {{showForm ? 'fa-times': 'fa-plus'}}"></i></a>
        </td>
      </tr>
    </form>

  </div>
</div>
